body {
    font-family: Arial, sans-serif;
    background-color: #222629;
}

.car_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    justify-items: center;
    column-gap: 190px;
    row-gap: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

.car-card {
    width: 350px;
    min-height: 500px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 10px solid #61892F;
    border-radius: 9px;
    transition: 0.2s;
    position: relative;
    background-color: #86C232;
}

.car-info {
    display: block;
    text-align: center;
    height: 100%;

}

.user_field {
    margin-top: 40px;

}


span {
    font-size: x-large;
}

.span-title {
    color: #474B4F;
}

.span-prop {
    color: black;
}


.username {
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    height: 200px;
    width: 310px;
    margin-top: 20px;   
}