body {
    font-family: Arial, sans-serif;
    background-color: #222629;
}

.container {
    display: flex;
    flex-direction: row;

}

.car-detail-container {
    background-color: #86C232;
    margin-top: 30px;
    padding: 20px;
}

.car_field {
    margin-top: 15px;
}


.span-title {
    color: #474B4F;
}

span {
    font-size: larger;
}

.span-prop {
    color: black;
}

.image {
    width: 30%;
    margin: 10px;
}
.characteristics {
    width: 60%;
    margin-left: 40px;
}

img {
    height: 400px;
    width: 600px;
    margin-top: 20px;   
}

h2 {
    color: black;
}


/* update form */


.update-form {
    margin-right: 20px;
    margin-left: 20px;
}
  
.update-form input[type="text"], .update-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
  
.update-form button[type="submit"] {
    background-color: #1a6b01;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 210px;
}
  
.update-form button[type="submit"]:hover {
    background-color: #114900;
}


.del_button {
    background-color: #cc0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 430px;
}
  
.del_button:hover {
    background-color: #810000;
}

