{% load static %}
<link rel="stylesheet" href="{% static 'styles/header_style.css' %}">
<header class="top-bar">    
    <nav class="nav">
        {% if user.is_authenticated %}
            <ul style="justify-content: space-between;">
                <a href="{% url 'index' %}"><li>Main page</li></a>
                <div style="display: flex; flex-direction: row;">
                    <li><a href="{% url 'user_cars' %}">My cars</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                    </li>
                </div>
                
            </ul>
        {% else %}
            <ul style="justify-content: space-between;">
                <a href="{% url 'index' %}"><li>Main page</li></a>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        {% endif %}
    </nav>
</header>