{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Update car</title>
    <link rel="stylesheet" href="{% static 'styles/update_car_style.css' %}">
</head>
<body>
    {% include 'car_manager/header.html' %}
    <div class="car-detail-container">
	    <div class="container">
	    	<img src="https://s.tmimgcdn.com/scr/800x500/275600/abstract-car-logo-design-template-v6_275611-original.jpg" alt="Car Image">
	    	<div class="characteristics">
	    		<h2>Characteristics:</h2>
	    		<div class="car_field">
                    <span class="span-title">Make: </span>
                    <span class="span-prop">{{ object.make }}</span>
                </div>
                <div class="car_field">
                    <span class="span-title">Model: </span>
                    <span class="span-prop">{{ object.model }}</span>
                </div>
                <div class="car_field">
                    <span class="span-title">Year: </span>
                    <span class="span-prop">{{ object.year }}</span>
                </div>
                <div class="car_field">
                    <span class="span-title">Description: </span>
                    <p style="width: 500px; overflow-wrap: break-word;">{{ object.description }}</p>
                </div>
                <div class="car_field">
                    <span class="span-title">Created at: </span>
                    <span class="span-prop">{{ object.created_at }}</span>
                </div>
                <div class="car_field">
                    <span class="span-title">Updated at: </span>
                    <span class="span-prop">{{ object.updated_at }}</span>
                </div>

	    	</div>
            
            <form class="update-form" action="{% url 'update_car' object.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
            <form method="post" action="{% url 'delete_car' object.id %}">
                {% csrf_token %}
                {{ del_form }}
                <button type="submit" class="del_button">Delete</button>
            </form>
            
	    </div>

    </div>  
</body>
</html>